@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
}
.container{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    display: flex;
    overflow: hidden;

    border-radius: 10px;
}
.col{
    background-color: hsl(31, 77%, 52%);
    padding: 45px;
}
.col2{
    background-color: hsl(184, 100%, 22%);
}
.col3{
    background-color: hsl(179, 100%, 13%);
}
.col h1{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);

    margin: 22px 0;
}
.col p{
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
.col button{
    padding: 12px 20px;
    border-radius: 22px;
    border: none;

    margin-top: 85px;
    cursor: pointer;
    transition: 0.2s all;

    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    font-weight: 500;
}
.col2 button{
    color: hsl(184, 100%, 22%);
}
.col3 button{
    color: hsl(179, 100%, 13%);
}
.col button:hover{
    background-color:  hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);

    border: 1px solid hsl(0, 0%, 95%);
}
.col2 button:hover{
    background-color:  hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);

    border: 1px solid hsl(0, 0%, 95%);
}
.col3 button:hover{
    background-color:  hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);

    border: 1px solid hsl(0, 0%, 95%);
}